<ion-nav-view>
<div class="all-elements">
    <div id="sidebar" class="page-sidebar">
        <div class="page-sidebar-scroll">
        	<div class="sidebar-shortcuts">
            	<a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-phone"></i></a>
                <a class="close-nav" href="#"><i class="fa fa-times"></i></a>
            </div>

            <div class="sidebar-logo">
                <img src="images/logo-big.png" width="160" alt="img">
            </div>

            <div class="sidebar-breadcrumb">NAVIGATION</div>

            <div class="navigation-item">
                <a href="index.html" class="nav-item">
                	<i class="fa fa-home"></i>
                    Homepage
                    <i class="fa fa-circle"></i>
                </a>
            </div>
            <div class="sidebar-decoration"></div>
            <div class="navigation-item">
                <a href="#" class="nav-item submenu-deploy">
                	<i class="fa fa-cog"></i>
                	Features
                    <i class="fa fa-angle-up"></i>
                </a>
                <div class="nav-submenu">
                    <a href="notUsed/typography.html">
                    	<i class="fa fa-angle-right"></i>
                        Typography
                        <i class="fa fa-circle"></i>
                    </a>
                    <a href="notUsed/jquery.html">
                    	<i class="fa fa-angle-right"></i>
                    	jQuery
                        <i class="fa fa-circle"></i>
                    </a>
                    <a href="notUsed/others.html">
                    	<i class="fa fa-angle-right"></i>
                    	Others
                        <i class="fa fa-circle"></i>
                    </a>
                </div>
            </div>
            <div class="sidebar-decoration"></div>
            <div class="navigation-item">
                <a href="#" class="nav-item submenu-deploy">
                	<i class="fa fa-camera"></i>
                	Gallery
                    <i class="fa fa-angle-up"></i>
                </a>
                <div class="nav-submenu">
                    <a href="notUsed/gallery-wide.html">
                    	<i class="fa fa-angle-right"></i>
                    	Wide Gallery
                        <i class="fa fa-circle"></i>
                    </a>
                    <a href="notUsed/gallery-square.html">
                    	<i class="fa fa-angle-right"></i>
                        Square Gallery
                        <i class="fa fa-circle"></i>
                    </a>
                    <a href="notUsed/gallery-round.html">
                    	<i class="fa fa-angle-right"></i>
                    	Round Gallery
                        <i class="fa fa-circle"></i>
                    </a>
                </div>
            </div>
            <div class="sidebar-decoration"></div>
            <div class="navigation-item">
                <a href="#" class="nav-item submenu-deploy active-submenu">
                	<i class="fa fa-picture-o"></i>
                	Portfolio
                    <i class="fa fa-angle-up"></i>
                </a>
                <div class="nav-submenu active-submenu">
                    <a class="current" href="home.html">
                    	<i class="fa fa-angle-right"></i>
                    	Adaptive Columns
                        <i class="fa fa-circle"></i>
                    </a>
                    <a href="notUsed/portfolio-one.html">
                    	<i class="fa fa-angle-right"></i>
                        One Column
                        <i class="fa fa-circle"></i>
                    </a>
                    <a href="notUsed/portfolio-two.html">
                    	<i class="fa fa-angle-right"></i>
                    	Two Columns
                        <i class="fa fa-circle"></i>
                    </a>
                    <a href="notUsed/portfolio-three.html">
                    	<i class="fa fa-angle-right"></i>
                    	Three Columns
                        <i class="fa fa-circle"></i>
                    </a>
                </div>
            </div>
            <div class="sidebar-decoration"></div>
            <div class="navigation-item">
                <a href="contact.html" class="nav-item">
                	<i class="fa fa-envelope-o"></i>
                	Contact
                    <i class="fa fa-circle"></i>
                </a>
            </div>
			<div class="sidebar-decoration"></div>
            <div class="navigation-item">
                <a href="#" class="close-nav nav-item">
                	<i class="fa fa-times"></i>
                	Close
                    <i class="fa fa-circle"></i>
                </a>
            </div>

            <div class="sidebar-breadcrumb">SOCIAL STUFF</div>
            <div class="navigation-item">
                <a href="https://www.facebook.com/enabled.labs" class="nav-item">
                	<i class="fa fa-facebook"></i>
                    Facebook
                    <i class="fa fa-link"></i>
                </a>
            </div>
			<div class="sidebar-decoration"></div>
            <div class="navigation-item">
                <a href="https://twitter.com/iEnabled" class="nav-item">
                	<i class="fa fa-twitter"></i>
                	Twitter
                    <i class="fa fa-link"></i>
                </a>
            </div>
            <div class="sidebar-decoration"></div>
            <div class="navigation-item">
                <a href="#" class="nav-item">
                	<i class="fa fa-google-plus"></i>
                	Google Plus
                    <i class="fa fa-link"></i>
                </a>
            </div>
            <div class="sidebar-decoration"></div>
            <div class="navigation-item">
                <a href="#" class="nav-item">
                	<i class="fa fa-phone"></i>
                	Call Me
                    <i class="fa fa-link"></i>
                </a>
            </div>
            <div class="sidebar-decoration"></div>
            <div class="navigation-item">
                <a href="#" class="nav-item">
                	<i class="fa fa-comment-o"></i>
                	Text Me
                    <i class="fa fa-link"></i>
                </a>
            </div>

            <div class="sidebar-breadcrumb">COPYRIGHT 2014. ALL RIGHTS RESERVED!</div>

        </div>
    </div>


    <div id="content" class="page-content">
        <div class="header">
            <a class="open-nav" href="#"><i class="fa fa-navicon"></i></a>
            <em>Adaptive Portfolio</em>
            <a href="contact.html"><i class="fa fa-envelope"></i></a>
        </div>

        <div class="header-clear"></div>

        <div class="content">
            <div class="portfolio-adaptive">
                <div class="portfolio-style">
                    <h3>Display</h3>
                    <a class="portfolio-three-activate" href="#"><i class="fa fa-th"></i></a>
                    <a class="portfolio-two-activate"   href="#"><i class="fa fa-th-large"></i></a>
                    <a class="portfolio-one-activate active-portfolio-style" href="#"><i class="fa fa-navicon"></i></a>
                </div>
                <div class="decoration"></div>
                <div class="portfolio portfolio-one">
                    <div class="portfolio-item">
                        <a href="images/general-nature/1.jpg" class="swipebox" title="Caption Goes Here">
                            <img class="responsive-image" src="images/general-nature/1.jpg" alt="img">
                        </a>
                        <h4>Item One</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet porta dolor, non ipsum.
                        </p>
                    </div>
                    <div class="portfolio-item">
                        <a href="images/general-nature/2.jpg" class="swipebox" title="Caption Goes Here">
                            <img class="responsive-image" src="images/general-nature/2.jpg" alt="img">
                        </a>
                        <h4>item Two</h4>
                        <p>
                            Aliquam dui nunc, bibendum nec hendrerit et, sollicitudin sit amet nibh. Vivamus a sollicitudin.
                        </p>
                    </div>
                    <div class="portfolio-item">
                        <a href="images/general-nature/3.jpg" class="swipebox" title="Caption Goes Here">
                            <img class="responsive-image" src="images/general-nature/3.jpg" alt="img">
                        </a>
                        <h4>Item Three</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet porta dolor, non posuere orci lipsum.
                        </p>
                    </div>
                    <div class="portfolio-item">
                        <a href="images/general-nature/4.jpg" class="swipebox" title="Caption Goes Here">
                            <img class="responsive-image" src="images/general-nature/4.jpg" alt="img">
                        </a>
                        <h4>Item Four</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet porta dolor, non posuere orci lipsum.
                        </p>
                    </div>
                    <div class="portfolio-item">
                        <a href="images/general-nature/5.jpg" class="swipebox" title="Caption Goes Here">
                            <img class="responsive-image" src="images/general-nature/5.jpg" alt="img">
                        </a>
                        <h4>item Five</h4>
                        <p>
                            Aliquam dui nunc, bibendum nec hendrerit et, sollicitudin sit amet nibh. Vivamus a sollicitudin.
                        </p>
                    </div>
                    <div class="portfolio-item">
                        <a href="images/general-nature/6.jpg" class="swipebox" title="Caption Goes Here">
                            <img class="responsive-image" src="images/general-nature/6.jpg" alt="img">
                        </a>
                        <h4>Item Six</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet porta dolor, non posuere orci lipsum.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container no-bottom">
                <div class="decoration"></div>
                <p class="center-text half-bottom">Copyright 2014. All rights reserved.</p>
                <div class="footer-socials">
                	<a href="#" class="footer-icon footer-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="footer-icon footer-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="footer-icon footer-google"><i class="fa fa-google-plus"></i></a>
                	<a href="#" class="footer-icon footer-backtotop"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>

</ion-nav-view>



















