<style>
    .friend-list {
        top: 23px !important;
    }
</style>
<!--para que el listado de amigos no quede tan abajo-->

<ion-view view-title="Friends">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header friend-list">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/kevin_pearce.jpg">
                    <h2>Kevin Pearce</h2>
                    <p>Professional snowboarder</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/peetu_piiroinen.jpg">
                    <h2>Peetu Piiroinen</h2>
                    <p>Professional snowboarder</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/perfil_skate.jpg">
                    <h2>Shaun White</h2>
                    <p>Professional snowboarder</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/perfil_skate.jpg">
                    <h2>Shaun White</h2>
                    <p>Professional snowboarder</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/perfil_skate.jpg">
                    <h2>Shaun White</h2>
                    <p>Professional snowboarder</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
