<style>
    .friend-list {
        top: 23px !important;
    }
</style>
<!--para que el listado de amigos no quede tan abajo-->

<ion-view view-title="Friends">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header friend-list">
            <div class="list animate-fade-slide-in-right" >
                <a ui-sref="main.friends" class="item item-avatar item-icon-right" ng-repeat="friend in friends">
                    <img src="img/kevin_pearce.jpg">
                    <h2>{{friend.name}}</h2>
                    <p>{{friend.description}}</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
